
.heading
{
	margin-top: 0px;
	color: #000000;
	margin-bottom: 20px;
}
.navbar-brand:hover
{
	color: #0956DC;
}
.box{
  border: 1px solid black;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 20px; 
  margin-right: 10px;
  background-color: #25E6E9;

}
.navbar-default .navbar-toggle
{
	border-color: #000000;
}
hr
{
	margin: 0;
}
#header-nav {
    background-color: #25E6E9;
    padding-bottom: 20px;
}
.navbar-default .navbar-nav>li>a
{
	color: #000000;
}


.navbar-toggle
{
	position: absolute;
	top: 15px;
	right: 0;
}
